<section class="section hero hero-small">
  <header class="hero-inner">
    <div class="hero-inner-search">
      {{search submit=false scoped=settings.scoped_kb_search class="search search-full" placeholder="Search knowledge base..."}}
    </div>
  </header>
</section>

<div class="container">

  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>
	<div class="row">
    <div class="col-3" style="padding:10px; margin:10px;">
      <div class="bg-light text-dark" style="padidng:10px;">
          <button class="btn" onclick = "sectionsCollapsible()" style="width:100%; margin-bottom: 5px;"> <h3>Sections</h3></button>
          <div class="collapse" id="sectionsP" style="display: block;">
          </div>
        </div>  
        <hr>
        <div class="bg-light text-dark" style="padidng:10px;">
          <button class="btn" style="width:100%; margin-bottom: 5px;" onclick="articleCollapsible()"> <h3>Articles</h3></button>
          <p class="collapse" id="articleP" style="display: none;">
          </p>
        </div>
    </div>
		<div class="col-8" style="margin:10px; margin-left:20px;">
          <header class="section-header page-header">
            <h1>
              {{#is section.name 'Getting started'}}
              <i class=" fas fa-rocket" style="color:#74BF95;"></i>
              {{/is}}
              {{#is section.name 'Frequently asked questions'}}
              <i class=" fas fa-question-circle" style="color:#74BF95;"></i>
              {{/is}}
              {{#is section.name 'Troubleshooting'}}
              <i class=" fas fa-cogs" style="color:#74BF95;"></i>
              {{/is}}
              {{#is section.name 'Release notes'}}
              <i class=" far fa-file-alt" style="color:#74BF95;"></i>
              {{/is}}
              {{#is section.name 'Administration'}}
              <i class="fas fa-user-cog" style="color:#74BF95;"></i>
              {{/is}}
              {{#is section.name 'Beta features'}}
              <i class=" fas fa-flask" style="color:#74BF95;"></i>
              {{/is}}
              {{section.name}}
            </h1>
            {{#if settings.show_follow_section}}
            {{subscribe}}
            {{/if}}
            {{#if section.description}}
            <p class="page-header-description">{{section.description}}</p>
            {{/if}}
          </header>
          {{#if section.sections}}
          <ul class="section-list section-list--collapsed">
            {{#each section.sections}}
            <li class="section-list-item">
              <a href="{{url}}">
                <span>{{name}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
                  aria-hidden="true">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"
                    d="M5 14.5l6.1-6.1c.2-.2.2-.5 0-.7L5 1.5" />
                </svg>
              </a>
            </li>
            {{/each}}
            <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger"
              title="{{t 'see_all_sections'}}">{{t 'see_all_sections'}}</a>
          </ul>
          {{/if}}
          {{pagination}}

      
    </div>
    
  </div>
</div>
<div>
</div>


{{!-- get category name and add to search bar placeholder --}}
{{#if settings.scoped_kb_search}}
<script>
  var breadcrumbs = document.getElementsByClassName("breadcrumbs");
  var categoryName = breadcrumbs[0].children[1].title;
  document.getElementById("query").placeholder = "Search " + categoryName + "...";
</script>
{{/if}}

</div>
<script>
window.onload = (event) => {
  articlesCall();
  sectionsCall();
};
const articlesCall = async () => {
  const response = await fetch('https://klient.zendesk.com/api/v2/help_center/articles?Authontintication=admin@koverhoop.com/token:hMTlqroR866VvpU6fyayTzRprIptGWnDU2cMlnAa', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    }
  });
  const myJson = await response.json();
  var article ='<ul class="list-group">';
  for(var i = 0; i < myJson.articles.length; i++)
		article += '<li class="list-group-item"> <a href="'+myJson.articles[i].html_url+'">'+myJson.articles[i].title+'</a></li>';
  article += "</ul>";
  document.getElementById("articleP").innerHTML = article;
}
  const sectionsCall = async () => {
  const response = await fetch('https://klient.zendesk.com/api/v2/help_center/sections.json?Authontintication=admin@koverhoop.com/token:hMTlqroR866VvpU6fyayTzRprIptGWnDU2cMlnAa', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    }
  });
  const myJson = await response.json();
  var sections ='<ul class="list-group">';
  for(var i = 0; i < myJson.sections.length; i++)
		sections += '<li class="list-group-item"> <a href="'+myJson.sections[i].html_url+'">'+myJson.sections[i].name+'</a></li>';
  sections += "</ul>";
  document.getElementById("sectionsP").innerHTML = sections;
}
function articleCollapsible(){
	if(document.getElementById('articleP').style.display === 'none')
  	document.getElementById('articleP').style.display = 'block';
  else
  	document.getElementById('articleP').style.display = 'none';
}
function sectionsCollapsible(){
	if(document.getElementById('sectionsP').style.display === 'none')
  	document.getElementById('sectionsP').style.display = 'block';
  else
  	document.getElementById('sectionsP').style.display = 'none';
}
  /*
  {{#if settings.show_articles_in_section}}
        		<h3 class="collapsible-sidebar-title sidenav-title">{{t 'articles_in_section'}}</h3>
        		<ul>
          		{{#each section.articles}}
          		<li>
            		<a href="{{url}}" class="sidenav-item {{#is id}}current-article{{/is}}">{{title}}</a>
              </li>
          		{{/each}}
          		{{#if section.more_articles}}
                <li>
                  <a href="{{section.url}}"
                    class="sidenav-item sidenav-item-show-all">{{t 'show_all_articles' count=section.article_count}}...</a>
                </li>
          		{{/if}}
        		</ul>
      	{{/if}}
  */
</script>